@import url("https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap");
.App {
  text-align: center;
  font-family: "Allerta Stencil", sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom CSS */

p,
h4 {
  margin: 5px 2px !important;
}
.container {
  width: 100%;
  text-align: center;
  /* background: #ededed; */
  /* margin-left:15%; */
  /* padding: 20px; */
}
.padd {
  padding: 20px 0 0;
  min-height: calc(100vh - 34px);
  position: relative;
}
.padd h1 {
  margin-bottom: 30px;
  font-size: 1.8rem;
  font-weight: 700;
}
.search {
  display: flex;
}
.not-found {
  min-height: calc(100vh - 162px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  font-size: 25px;
  font-weight: bold;
  color: #546d79;
}
.not-found img {
  width: 100px;
}
.inp {
  height: 40px;
  width: 90%;
  border-radius: 20px;
  font-size: 18px;
  border: 1px solid #ededed;
  text-indent: 20px;
  outline: none;
}
.btn {
  font-size: 18px;
  text-transform: uppercase;
  width: 200px;
  height: 40px;
  margin-left: 10px;
  background-color: #638ce6;
  color: #fff;
  border-color: #638ce6;
  border-radius: 20px;
  outline: 0 !important;
  box-shadow: none !important;
}
.btn:hover {
  background-color: #2c65e2;
  border-color: #2c65e2;
  cursor: pointer;
}
.movie {
  margin-top: 20px;
  display: flex;
  border-radius: 10px;
  align-items: center;
  gap: 2%;
}
.poster {
  width: 30%;
  height: auto;
  overflow: hidden;
  position: relative;
}
.img {
  width: 100%;
  border-radius: 10px;
  height: 100%;
  object-fit: cover;
}
.poster .btn {
  position: absolute;
  margin: 0;
  top: calc(50% - 20px);
  opacity: 0;
  transition: all ease-in 0.4s;
  z-index: 5;
  left: -200px;
}
.poster:hover .btn {
  opacity: 1;
  left: calc(50% - 100px);
}
.poster:hover:before {
  content: "";
  position: absolute;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
}

.details {
  width: 68%;
  height: inherit;
  border-radius: 10px;
  background: #ededed;
  text-align: left;
  padding: 20px;
}
.details h2 {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}
.details p {
  font-size: 14px;
  margin: 0 0 5px !important;
}

.rating {
  display: flex;
  margin-right: 20px;
}

.rating > div {
  margin-right: 20px;
}

footer {
  text-align: right;
  font-weight: 500;
  padding: 5px 0;
}
.more {
  color: #638ce6;
  font-weight: 600;
  font-size: 12px;
}

.more:hover {
  color: #2c65e2;
  cursor: pointer;
}

/* Popup */
.plot-popup {
  font-family: "Allerta Stencil", sans-serif;
}
.plot-popup .modal-header {
  border-bottom: 0;
  padding-bottom: 0;
}
.plot-popup .modal-header .modal-title {
  text-align: center;
  margin: auto;
  color: #000;
  font-weight: 500;
}
.plot-popup .btn-close {
  color: #ff0000;
  border-color: #ff0000 !important;
  border-radius: 3px;
  background-color: #fff !important;
}
.plot-popup .btn-close:hover {
  color: #f83434;
  border-color: #f83434 !important;
}
.plot-popup .btn-close:before {
  content: "\f00d";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}
.plot-popup .modal-body {
  max-height: 540px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.plot-popup .modal-body p {
  color: #000;
}
.plot-popup .modal-body img {
  max-height: 500px;
  width: auto;
  object-fit: cover;
  border-radius: 0.3rem;
}
.plot-popup .modal-body::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.plot-popup .modal-body::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: #2b303a;
}
.plot-popup .modal-body::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background-color: #546d79;
}

@media (max-width: 576px) {
  .movie {
    flex-direction: column;
    gap: 20px;
  }
  .poster,
  .details {
    width: 100%;
  }
  .img {
    max-height: 400px;
    width: auto;
  }
}
